[Unit]
Description=RuneAudio PHP watchdog service
Requires=dhcpcd@eth0.service
After=dhcpcd@eth0.service

[Service]
Type=simple
ExecStart=/var/www/command/rune_wdog
TimeoutSec=0
Restart=always

[Install]
WantedBy=multi-user.target
