[Unit]
Description=RapspberryPi AnalogOut OnTheFly switch helper
Requires=mpd.service
After=mpd.service

[Service]
Type=simple
ExecStart=/var/www/command/rune_rpi_oJack
TimeoutSec=0
Restart=always

[Install]
WantedBy=multi-user.target
