[Unit]
Description=RuneAudio System Worker
Requires=dhcpcd@eth0.service
After=dhcpcd@eth0.service

[Service]
Type=forking
ExecStart=/var/www/command/rune_SY_wrk.php
TimeoutSec=0
Restart=always

[Install]
WantedBy=multi-user.target
