[Unit]
Description=Shairport AirTunes receiver
After=sound.target
Requires=avahi-daemon.service
After=avahi-daemon.service

[Service]
ExecStartPre=/var/www/command/airplay.sh
ExecStart=/usr/local/bin/shairport  --on-stop=/var/www/command/airplay.sh
Restart=always

[Install]
WantedBy=multi-user.target
