<div class="container credits">
	
	<h1>RuneAudio project</h1>

	<div class="row">
		<div class="span8">
			<div class="alert alert-info">release version: <strong>0.1-beta</strong></div>
			
			<h2>RuneAudio team</h2>
			<a href="http://www.runeaudio.com/team/" target="_blank"><strong>
			Andrea Coiutti</strong></a> (aka ACX)<br>
			<span class="help-block">RuneUI frontend design - frontend HTML/JS/CSS coding</span>
			<a href="http://www.runeaudio.com/team/" target="_blank"><strong>
			Simone De Gregori</strong></a> (aka Orion)<br>
			<span class="help-block">RuneUI PHP backend coding - frontend JS coding - RuneOS optimization</span>
			<a href="http://www.runeaudio.com/team/" target="_blank"><strong>
			Carmelo San Giovanni</strong></a> (aka Um3ggh1U)<br>
			<span class="help-block">RuneOS distro build &amp; optimization</span>

		</div>
		<div class="span4">
			<h3 class="txtmid">Support us!</h3>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="txtmid">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="MV4SLBWUGKCHU">
				<input type="image" src="images/donate-paypal.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online">
				<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
			</form>
			<p class="social-buttons">
				<a class="btn btn-large" target="_blank" href="https://github.com/RuneAudio" title="RuneAudio on GitHub"><i class="icon-github"></i></a>
				<a class="btn btn-large" target="_blank" href="https://www.facebook.com/runeaudio" title="RuneAudio on Facebook"><i class="icon-facebook"></i></a>
				<a class="btn btn-large" target="_blank" href="https://twitter.com/runeaudio" title="RuneAudio on Twitter"><i class="icon-twitter"></i></a>
				<a class="btn btn-large" target="_blank" href="https://plus.google.com/+Runeaudio/" title="RuneAudio on Google+"><i class="icon-google-plus"></i></a>
				<br>
				<a class="btn btn-large" target="_blank" href="http://www.runeaudio.com/forum/" title="RuneAudio forum"><i class="icon-comments"></i></a>
				<a class="btn btn-large" target="_blank" href="http://feeds.feedburner.com/RuneAudio" title="RSS feed"><i class="icon-rss"></i></a>
				<a class="btn btn-large" target="_blank" href="http://www.runeaudio.com/newsletter/" title="RuneAudio newsletter"><i class="icon-envelope"></i></a>
			</p>
		</div>
	</div>
	
	<h3>License &amp; Copyright</h3>
	<div class="alert alert-info">
		<p>This Program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation either version 3, 
		or (at your option) any later version. This Program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
		See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along with RuneAudio; see the file COPYING. 
		If not, see <a href="http://www.gnu.org/licenses/gpl-3.0.txt" target="_blank">http://www.gnu.org/licenses/gpl-3.0.txt</a></p>
	</div>
	
	<p><strong>Copyright (C) 2013 RuneAudio Team</strong>
	<span class="help-block">Andrea Coiutti &amp; Simone De Gregori &amp; Carmelo San Giovanni</span></p>
	<p><strong>RuneUI</strong>
	<span class="help-block">copyright (C) 2013 – Andrea Coiutti (aka ACX) & Simone De Gregori (aka Orion)</span>
	<strong>RuneOS</strong>
	<span class="help-block">copyright (C) 2013 – Carmelo San Giovanni (aka Um3ggh1U)</span><br></p>

	<h2>RuneUI credits</h2>
	<p><strong>PHP language v5.5</strong> by <a rel="nofollow" href="http://php.net/credits.php" target="_blank">PHP Team<br /></a><a rel="nofollow" href="http://php.net/" target="_blank">http://php.net</a></p>
	<p><strong>SQLite v3 database engine</strong> by <a rel="nofollow" href="http://www.sqlite.org/crew.html" target="_blank">SQLite Team<br /></a><a rel="nofollow" href="http://www.sqlite.org/" target="_blank">http://www.sqlite.org</a></p>
	<p><strong>jQuery Knob</strong> by Anthony Terrien<br /><a rel="nofollow" href="https://github.com/aterrien/jQuery-Knob" target="_blank">https://github.com/aterrien/jQuery-Knob</a></p>
	<p><strong>jQuery Countdown</strong> by Keith Wood<br /><a rel="nofollow" href="http://keith-wood.name/countdown.html" target="_blank">http://keith-wood.name/countdown.html</a></p>
	<p><strong>jQuery scrollTo</strong> by Ariel Flesler<br /><a rel="nofollow" href="http://flesler.blogspot.it/2007/10/jqueryscrollto.html" target="_blank">http://flesler.blogspot.it/2007/10/jqueryscrollto.html</a></p>
	<p><strong>Twitter Bootstrap</strong> by <a rel="nofollow" href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a rel="nofollow" href="http://twitter.com/fat" target="_blank">@fat<br /></a><a rel="nofollow" href="http://getbootstrap.com/" target="_blank">http://getbootstrap.com/</a></p>
	<p><strong>Lato-Fonts by Lukasz Dziedzic<br /></strong><a rel="nofollow" href="http://www.latofonts.com/lato-free-fonts/" target="_blank">http://www.latofonts.com/lato-free-fonts</a></p>
	<p><strong>Font Awesome by Dave Gandy<br /></strong><a rel="nofollow" href="http://fontawesome.io/" target="_blank">http://fontawesome.io</a></p>
	<p><strong>Flat UI</strong> by Designmodo<br /><a rel="nofollow" href="http://designmodo.github.io/Flat-UI/" target="_blank">http://designmodo.github.io/Flat-UI</a></p>
	<p><strong>Bootstrap-select</strong> by <a rel="nofollow" href="https://github.com/caseyjhol" target="_blank">caseyjhol<br /></a><a rel="nofollow" href="http://silviomoreto.github.io/bootstrap-select/" target="_blank">http://silviomoreto.github.io/bootstrap-select/</a></p>
	<p><strong>PHP reader</strong> class by <a rel="nofollow" href="http://fi.linkedin.com/in/svollbehr" target="_blank" rel="nofollow">Sven Vollbehr<br /></a><a rel="nofollow" title="PHP Reader" href="https://code.google.com/p/php-reader/" target="_blank">https://code.google.com/p/php-reader/</a></p>
	<p>Also thanks to B. Carlisle (<strong>MPD-class</strong> <a rel="nofollow" href="http://mpd.24oz.com/" target="_blank">http://mpd.24oz.com/</a>) for code inspiration on some data-parsing functions.</p>
	
	<h2>RuneOS credits</h2>
	<p>ArchLinux (base distro)<br /><a rel="nofollow" href="https://www.archlinux.org/" target="_blank">https://www.archlinux.org/</a></p>
	<p><strong>MPD</strong> &#8211; Music Player Daemon by Max Kellermann &amp; Avuton Olrich<br /><a rel="nofollow" href="http://www.musicpd.org/" target="_blank">http://www.musicpd.org</a></p>
	<p>MiniDLNA by Justin Maggard<br /><a rel="nofollow" href="http://minidlna.sourceforge.net/" target="_blank">http://minidlna.sourceforge.net</a></p>
	<p>Shairport by James &#8220;abrasive&#8221; Laird<br /><a rel="nofollow" href="https://github.com/abrasive/shairport" target="_blank">https://github.com/abrasive/shairport</a></p>
</div>