<div class="tab-content">

	<!-- -------------------- PLAYBACK PANEL -------------------- -->
	<div id="playback" class="tab-pane active">
		<div class="container txtmid">
			<span id="currentartist"></span>
			<span id="currentsong"></span>
			<span id="currentalbum"></span>
			<span id="playlist-position">&nbsp;</span>
			<span id="format-bitrate"></span>
			<div class="row-fluid">
				<div class="span6">
					<div id="timeknob">
						<div id="countdown" ms-user-select="none">
							<input id="time" class="playbackknob" value="0" data-readonly="false" data-min="0" data-max="1000" data-width="100%" data-thickness="0.30" data-bgColor="#34495E" data-fgcolor="#0095D8">
						</div>
						<span id="countdown-display"></span>
						<span id="total"></span>
					</div>
					<div class="btn-toolbar">
						<div class="btn-group">
							<a id="repeat" class="btn btn-cmd btn-toggle" href="#notarget" title="Repeat"><i class="icon-repeat"></i></a>
							<a id="random" class="btn btn-cmd btn-toggle" href="#notarget" title="Random"><i class="icon-random"></i></a>
							<a id="single" class="btn btn-cmd btn-toggle" href="#notarget" title="Single"><i class="icon-refresh"></i></a>
							<a id="consume" class="btn btn-cmd btn-toggle" href="#notarget" title="Consume Mode"><i class="icon-trash"></i></a>			
						</div>
					</div>
				</div>
				<div class="span6 volume">
					<input id="volume" class="volumeknob" data-width="211" data-cursor="true" data-bgColor="#fff" data-fgColor="#0095D8" data-thickness=".25" data-angleArc="250" data-angleOffset="-125" data-skin="tron" value="66">	
					<div class="btn-toolbar floatright">
						<div class="btn-group">
							<a id="volumedn" class="btn btn-cmd btn-volume" href="#notarget"><i class="icon-volume-down"></i></a>
							<a id="volumemute" class="btn btn-cmd btn-volume" href="#notarget"><i class="icon-volume-off"></i> <i class="icon-exclamation"></i></a>
							<!--<a id="ramplay" class="btn btn-cmd btn-toggle" title="Ramplay" href="#notarget"><i class="icon-copy"></i></a> -->
							<a id="volumeup" class="btn btn-cmd btn-volume" href="#notarget"><i class="icon-volume-up"></i></a>
							<!--<a id="dbupdate" class="btn btn-cmd" href="#notarget" title="Updating Music DB..."><i class="icon-refresh"></i></a>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- -------------------- DATABASE PANEL -------------------- -->
	<div id="panel-sx" class="tab-pane">
		<div class="btnlist btnlist-top">
			<form id="db-search" action="javascript:getDB('search', '', GUI.browsemode);">
				<div class="input-append">
					<input class="span2" id="db-search-keyword" type="text" value="" placeholder="search in DB...">
					<button class="btn" type="submit"><i class="icon-search"></i></button>
				</div>
			</form>
			<form id="db-browse">
				<div class="dropdown">
					<a class="dropdown-toggle" id="browse-mode" role="button" data-toggle="dropdown" data-target="#" href="$_section.php"><i class="icon-caret-down sx"></i> <span id="browse-mode-current">files</span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="browse-mode">
						<li class="browse-mode active"><a href="#notarget"><i class="icon-file sx"></i> <span>files</span></a></li>
						<li class="browse-mode"><a href="#notarget"><i class="icon-user sx"></i> <span>artists</span></a></li>
						<li class="browse-mode"><a href="#notarget"><i class="icon-tag sx"></i> <span>titles</span></a></li>
						<li class="browse-mode"><a href="#notarget"><i class="icon-bullseye sx"></i> <span>albums</span></a></li>
					</ul>
				</div>
			</form>
		</div>
		<div id="database">
			<ul class="database">
				<!--<li class="clearfix"><div class="db-entry">Unknown Song <span>Unknown Artist - Unknown Album</span></div></li>-->
			</ul>
		</div>
		<div class="btnlist btnlist-bottom">
			<div id="db-controls">
				<button id="db-debug-btn" class="btn hide"><i class="icon-random"></i></button>
				<button class="btn db-firstPage"><i class="icon-double-angle-up"></i></button>
				<button class="btn db-prevPage"><i class="icon-angle-up"></i></button>
				<button class="btn db-nextPage"><i class="icon-angle-down"></i></button>
				<button class="btn db-lastPage"><i class="icon-double-angle-down"></i></button>
			</div>
			<div id="db-currentpath">
				<i class="icon-folder-open"></i> <span>NAS/</span>
			</div>
		</div>		
	</div>
	
	<!-- -------------------- PLAYLIST PANEL -------------------- -->
	<div id="panel-dx" class="tab-pane">
		<div class="btnlist btnlist-top">
			<form id="pl-search" method="post" onSubmit="return false;">
				<div class="input-append">
					<input id="pl-filter" class="ttip" type="text" value="" placeholder="search in playlist..." data-placement="bottom" data-toggle="tooltip" data-original-title="Type here to search on the fly">
					<button class="btn"><i class="icon-search"></i></button>
				</div>
			</form>
			<div id="pl-filter-results"></div>
		</div>
		<div id="playlist">
			<ul class="playlist">
				<!--<li>Unknown Song <span>Unknown Artist - Unknown Album</span></li>-->
			</ul>
		</div>
		<div class="btnlist btnlist-bottom">
			<div id="pl-controls">
				<button id="pl-debug-btn" class="btn hide"><i class="icon-random"></i></button>
				<button class="btn pl-firstPage"><i class="icon-double-angle-up"></i></button>
				<button class="btn pl-prevPage"><i class="icon-angle-up"></i></button>
				<button class="btn pl-nextPage"><i class="icon-angle-down"></i></button>
				<button class="btn pl-lastPage"><i class="icon-double-angle-down"></i></button>
			</div>
		</div>
	</div>
	
</div>

<div id="context-menus">
	<div id="context-menu" class="context-menu">
		<ul class="dropdown-menu" role="menu">
			<li><a href="#notarget" data-cmd="add"><i class="icon-plus-sign sx"></i> Add</a></li>
			<li><a href="#notarget" data-cmd="addplay"><i class="icon-play sx"></i> Add and play</a></li>
			<li><a href="#notarget" data-cmd="addreplaceplay"><i class="icon-share sx"></i> Add, replace and play</a></li>
			<li><a href="#notarget" data-cmd="update"><i class="icon-refresh sx"></i> Update this folder</a></li>
		</ul>
	</div>
	<div id="context-menu-root" class="context-menu">
		<ul class="dropdown-menu" role="menu">
			<li><a href="#notarget" data-cmd="update"><i class="icon-refresh sx"></i> Update this folder</a></li>
		</ul>
	</div>
</div>