<div class="container credits">
	<h1>DB sources</h1>
	<form>
		<p><button class="btn btn-large btn-primary" type="submit" name="updatempd" value="1" id="updatempddb"><i class="icon-refresh sx"></i>Update MPD Database</button></p>
	</form>
	<div class="tile txtsx">
		<p>RuneAudio's MPD creates and updates its database scanning the content of the following source directories:</p>
		<ul>
			<li><strong>NAS</strong><br><span class="help-block">where all network mounts fit</span></li>
			<li><strong>USB</strong><br><span class="help-block">the content of the USB drive, if plugged</span></li>
			<!-- <li><strong>RAM</strong><br><span class="help-block">the content of the RAMdisk, used for RAM play purposes</span></li> -->
		</ul>
	</div>
	
	<h2>NAS mounts</h2>
	<p>List of configured network mounts (click to edit)</p>
	<form method="post">
		$_mounts
		<p><a href="sources.php?p=add" class="btn btn-large btn-primary btn-block" data-ajax="false"><i class="icon-plus sx"></i> Add new mount</a></p>
	</form>
</div>